


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold text-blue-500">Categories</h1>

    <%= link_to new_category_path, class: button_class(theme: "primary") do %>
    Add New Category
    <% end %>
  </div>

  <table class="table-auto border-collapse border-grey w-full">
  <thead class="bg-gray-200 dark:bg-gray-500">
      <tr>
        
          <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Name</th>
        
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Type of sport</th>
                
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
      <%= content_tag :tr, id: dom_id(category), class: dom_class(category) do %>
      
        <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= link_to category.name, category %></td>
      

        <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= category.type_of_sport %></td>
      
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
